target/
.vscode/*
!.vscode/settings.json

.DS_Store

/test.asm
/test.orzir
/test.s
/test.o
/test
/test.ast
/test.sy
/test-*.orzir
/test.in

/tests/sysy/final_performance
/tests/sysy/performance
/tests/sysy/problematic

output/