/target

/.idea/*

/.vscode/*
# !settings.json

/tests/sysy/*
!/tests/sysy/sysy-runtime-lib
!/tests/sysy/sysy-runtime-lib-fix
!/tests/sysy/functional
!/tests/sysy/hidden-functional
!/tests/sysy/external_test

/tests/testcases/*

/output*/

.DS_Store

/test.*

/scripts/__pycache__/*

lcov.info